@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* foundation */
a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  width: 70%;
  margin: 0.5rem auto; }

@media screen and (max-device-width: 480px) {
  body {
    width: 94%; } }
/* layouts */
.l-header {
  margin: 2rem 0; }

.l-footer {
  margin-top: 2rem; }

/* components */
.c-nav .icon {
  color: #000;
  text-decoration: none; }

.c-tags {
  display: flex;
  flex-wrap: wrap; }
  .c-tags .tag {
    align-items: center;
    margin-right: 1rem;
    line-height: 1.2rem;
    color: #000;
    text-align: top; }
  .c-tags .tag::before {
    margin-right: 0.1rem;
    content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2216%22%20height=%2216%22%20viewBox=%220%200%2024%2020%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22feather%20feather-tag%22%3E%3Cpath%20d=%22M20.59%2013.41l-7.17%207.17a2%202%200%200%201-2.83%200L2%2012V2h10l8.59%208.59a2%202%200%200%201%200%202.82z%22%3E%3C/path%3E%3Cline%20x1=%227%22%20y1=%227%22%20x2=%227%22%20y2=%227%22%3E%3C/line%3E%3C/svg%3E"); }

.c-copyright {
  font-size: 0.8rem; }
  .c-copyright .copyright {
    text-align: center; }
  .c-copyright .generated-by {
    text-align: center; }

/* projects */
.p-header {
  display: flex;
  justify-content: space-between; }
  .p-header .logo {
    font-size: 1.5rem;
    color: #000; }
    .p-header .logo:hover {
      color: #000; }
    .p-header .logo:visited {
      color: #000; }

.p-footer {
  display: flex;
  justify-content: center; }

.p-article-list .link {
  color: #000; }
.p-article-list .p-article {
  margin-bottom: 2rem; }

.p-article .title {
  font-size: 2rem;
  margin-bottom: 0.5rem; }
.p-article .c-meta {
  margin-bottom: 0.5rem; }
.p-article .body {
  margin: 2rem 0;
  /** style for article body */ }
  .p-article .body .catch {
    text-align: center;
    margin: 1.5em 0; }
  .p-article .body h2 {
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
    margin-top: 2rem;
    padding-bottom: 2px;
    line-height: 1.4rem; }
  .p-article .body h3 {
    font-size: 1.4rem;
    border-bottom: 1px solid #000;
    margin-top: 2rem;
    padding-bottom: 2px;
    line-height: 1.4rem; }
  .p-article .body h4 {
    font-size: 1.3rem;
    margin-top: 2rem;
    padding-bottom: 2px;
    line-height: 1.4rem; }
  .p-article .body h5 {
    font-size: 1.2rem;
    margin-top: 2rem;
    padding-bottom: 2px;
    line-height: 1.4rem; }
  .p-article .body h6 {
    font-size: 1.1rem;
    margin-top: 2rem;
    padding-bottom: 2px;
    line-height: 1.4rem; }
  .p-article .body p {
    margin-top: 0.5rem;
    line-height: 1.5rem; }
  .p-article .body ul li {
    list-style: disc; }
  .p-article .body ol li {
    list-style: decimal; }
  .p-article .body li {
    margin: 0.5rem 0 0.5rem 2rem;
    line-height: 1.2rem; }
  .p-article .body pre {
    margin: 1rem 0;
    padding: 0.8rem;
    overflow: scroll;
    border: 1px solid #999;
    background-color: #eee; }
  .p-article .body pre code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace; }
  .p-article .body blockquote {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 4rem;
    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555; }
  .p-article .body blockquote:before {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -3px;
    vertical-align: middle;
    content: "“";
    font-family: sans-serif;
    color: #cfcfcf;
    font-size: 4rem;
    line-height: 1; }
  .p-article .body blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.5; }
  .p-article .body blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em; }
  .p-article .body a {
    text-decoration: none;
    color: RoyalBlue; }
    .p-article .body a:hover {
      color: RoyalBlue;
      text-decoration: underline; }
    .p-article .body a:visited {
      color: Brown; }

/*# sourceMappingURL=style.css.map */
