{{ $url := .Get 0 }}
{{ $json := getJSON $.Page.Site.Params.blogcardapi $url }}

<div class="c-blogcard">
  <div class="blogcard-content">
    <div>
      <div class="blogcard-title"><a href="{{ $json.url }}">{{ $json.title }}</a></div>
      <div class="blogcard-desc">{{ $json.description }}</div>
    </div>
    <div class="blogcard-site">
      <a href="{{ $json.site_url }}">
        {{ if $json.favicon }}<img src="{{ $json.favicon }}">{{ end }}<p class="blogcard-sitename">{{ $json.site_name }}</p>
      </a>
    </div>
  </div>
  {{ if $json.image }}
  <figure class="blogcard-image"><a href="{{ $json.url }}"><img src="{{ $json.image }}"></a></figure>
  {{ end }}
</div>
